In [18]:
from ast import literal_eval
import pandas as pd
import deepl

from tqdm import tqdm

In [5]:
data = pd.read_csv("/Users/raphaelseo/Documents/projects/side_project/finance/Company_Clustering/sector.csv", index_col=0)

In [6]:
data

      stock_code                                             sector
0           2790  ['manufacturing and selling cosmetics', 'house...
1          90430  ['manufacturing and sale of cosmetics', 'house...
2         950210   ['biotechnology', 'pharmaceuticals', 'vaccines']
3         377190          ['real estate investment trusts (REITs)']
4           5390  ['textile and apparel exports', 'fashion brand...
...          ...                                                ...
2304       33200  ['manufacturing and sale of stepping motors', ...
2305      950170                              ['retail operations']
2306       38540  ['information and communication services', 'fi...
2307      357230  ['health functional foods', 'pet products', 'e...
2308       27050            ['manufacturing and sale of cosmetics']

[2309 rows x 2 columns]

In [7]:
stock_code = data['stock_code']

In [8]:
sector = data['sector']

In [14]:
auth_key = '9b1b0339-8ba6-43a3-9011-3408e29b48a6:fx'
translator = deepl.Translator(auth_key)

In [24]:
res = []

for s in tqdm(sector):
    r = []
    s = literal_eval(s)
    for t in s:
        trans = translator.translate_text(t, target_lang="KO")
        r.append(trans.text)
    res.append(r)

100%|██████████| 2309/2309 [1:01:04<00:00,  1.59s/it]

In [26]:
result = pd.DataFrame()

In [28]:
result['stock_code'] = stock_code
result['sector'] = res

In [29]:
result.head()

   stock_code                          sector
0        2790   [화장품 제조 및 판매, 가정용품, 건강 기능 식품]
1       90430  [화장품 제조 및 판매, 가정용품, 건강기능식품 판매]
2      950210                  [생명공학, 제약, 백신]
3      377190               [부동산 투자 신탁(REIT)]
4        5390     [섬유 및 의류 수출, 패션 브랜드, 소매 운영]

In [30]:
result.to_csv('sector2.csv')